<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    <section name="idiomaSection" type="FinanzasNet.IdiomaSection, FinanzasNet"/>
    <!--section name="moduloSection" type="FinanzasNet.ModuloSection, FinanzasNet"/-->

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ModSII.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>

  <log4net>
    <root>
      <!--level value="OFF" /-->
      <!--level value="FATAL" /-->
      <!--level value="ERROR" /-->
      <!--level value="WARN" /-->
      <!--level value="INFO" /-->
      <level value="DEBUG" />
      <!--level value="ALL" /-->
      <appender-ref ref="RollingFileAppender" />
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\log-file_" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticlogfilename value="false"></staticlogfilename>
      <rollingStyle value="Composite"></rollingStyle>
      <!--rollingStyle value="Date"></rollingStyle-->
      <!--rollingStyle value="Size"></rollingStyle-->
      <datepattern value="yyyyMMdd'.log'"></datepattern>
      <maxsizerollbackups value="5"> </maxsizerollbackups>
      <maximumfilesize value="100MB"> </maximumfilesize>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{dd-MM-yyyy HH:mm:ss.fff}] [%property{pid}] [%level] [%username] %logger - %message %newline" />
        <!--conversionPattern value="[%date{dd-MM-yyyy HH:mm:ss.fff tt}] [%property{pid}] [%level] [%username] %logger - %message %newline" /-->
      </layout>
      <!--filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" /-->
    </appender>
  </log4net>
  
  <idiomaSection>
    <idiomas>
      <add id="1" descripcion="Catalán" cultura="ca-ES" activo="1"/>
      <add id="2" descripcion="Español" cultura="es-ES" activo="1"/>
      <add id="3" descripcion="Francés" cultura="fr-FR" activo="0"/>
      <add id="4" descripcion="Inglés" cultura="en-US" activo="1"/>
      <add id="5" descripcion="Portugués" cultura="pt-PT" activo="0"/>
    </idiomas>
  </idiomaSection>

  <applicationSettings>
    <ModSII.Properties.Settings>
      <setting name="ModSII_tgSIIWebService_TGsiiService" serializeAs="String">
        <!--value>http://localhost/TGsiiWebService/TGsiiWebService11111.asmx</value-->
        <value></value>
      </setting>
    </ModSII.Properties.Settings>
  </applicationSettings>
  
  <!--moduloSection>
    <modulos>
      <add id="1" nombre="Módulo pago a proveedores" namespace="ModPagoProv" formulario="frmPrincipal" imagen="modPagoProv.jpg" activo="1" orden="1"/>
      <add id="2" nombre="Módulo de impuestos" namespace="ModImpuestos" formulario="frmPrincipal" imagen="modImpuestos.jpg" activo="0" orden="2"/>
      <add id="3" nombre="Módulo de contabilidad general" namespace="" formulario="frmPrincipal" imagen="modContabilidad.jpg" activo="1" orden="3"/>
    </modulos>
  </moduloSection-->

  <appSettings>
    <add key="proveedorDatosCG" value="Odbc" />
    <add key="tipoBaseDatosCG" value="DB2" />
    <add key="cadenaConexionCG" value="DSN=;UID=@USER;PWD=@PWD" />

    <add key="prefijoTablaCG" value="" />
    <add key="pathImagenes" value="images" />

    <add key="idioma" value="es-ES" />
    
    <add key="clave" value="" />
    <add key="pathFicheros" value="" />
    <add key="ficheroModulos" value="Modulos.xml" />
    <add key="ficheroModulosUsuario" value="ModulosUsuario.xml" />

    <add key="pathFicherosEntornos" value="entornos" />
    <add key="entornoActual" value="entorno_odbc_defecto.xml" />

    <add key="pathFicherosUsuario" value="usuarios" />
    
    <!-- **********  Autorizaciones *********** -->
    <!--Base de datos de CGAPP -->
    <add key="bbddCGAPP" value="CGAPP" />
    <!--Usuario CGIFS" -->
    <add key="USER_CGIFS" value="CGIFS" />
    <!--Usuario CGAUDIT" -->
    <add key="USER_CGAUDIT" value="CGAUDIT" />
    
    <!--Base de datos de CGUF (XContro, XCola, XPARA -->
    <add key="bbddCGUF" value="CGUF" />

    <!-- Path donde se graban las peticiones de los formularios que se soliciten -->
    <add key="PathFicherosPeticiones" value="" />

    <!-- SII Visualizar SOAP -->
    <add key="SIITimeOutWS" value="0" />

    <!-- SII Visualizar SOAP -->
    <add key="SIIMenuSoapView" value="true" />

  </appSettings>
  
</configuration>  