<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="proveedorDatosCG" value="OleDb" />
    <!--add key="proveedorDatosCG" value="Odbc" /-->
    <add key="tipoBaseDatosCG" value="SQLServer" />
    <add key="tipoBaseDatosCG" value="DB2" />
    <!--add key="cadenaConexionCG" value="DSN=;UID=@USER;PWD=@PWD" /-->
    <!--add key="cadenaConexionCG" value="Provider=IBMDA400.DataSource.1;Password=@PWD;Persist Security Info=True;User ID=@USER;Data Source=192.100.100.110;Transport Product=Client Access;SSL=DEFAULT;Default Collection=CPNETV2" /-->
    <add key="cadenaConexionCG" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=@USER;password=@PWD;Initial Catalog=ModulosAdmin;Data Source=BARLAP1102\SQL2008R2_ANNIA" />

    <add key="PathFicheros" value="" />
    <add key="FicheroModulosApp" value="ModulosApp.xml" />
    <add key="FicheroModulosGenerado" value="Modulos.xml" />
    <add key="FicheroLogs" value="LogGenerarFicheroCliente.log" />
    <add key="ClaveEncriptar" value="" />

    <add key="UltimoFicheroGeneradoModulosSel" value="" />
  </appSettings>
</configuration>