<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIIEnvioAutomatico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <root>
      <!--level value="OFF" /-->
      <!--level value="FATAL" /-->
      <!--level value="ERROR" /-->
      <!--level value="WARN" /-->
      <!--level value="INFO" /-->
      <level value="DEBUG" />
      <!--level value="ALL" /-->
      <appender-ref ref="RollingFileAppender" />
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\log-file_" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticlogfilename value="false"></staticlogfilename>
      <rollingStyle value="Composite"></rollingStyle>
      <!--rollingStyle value="Date"></rollingStyle-->
      <!--rollingStyle value="Size"></rollingStyle-->
      <datepattern value="yyyyMMdd'.log'"></datepattern>
      <maxsizerollbackups value="5"> </maxsizerollbackups>
      <maximumfilesize value="100MB"> </maximumfilesize>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{dd-MM-yyyy HH:mm:ss.fff}] [%property{pid}] [%level] [%username] %logger - %message %newline" />
        <!--conversionPattern value="[%date{dd-MM-yyyy HH:mm:ss.fff tt}] [%property{pid}] [%level] [%username] %logger - %message %newline" /-->
      </layout>
      <!--filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" /-->
    </appender>
  </log4net>

  <applicationSettings>
    <SIIEnvioAutomatico.Properties.Settings>
      <setting name="SIIEnvioAutomatico_tgSIIWebService_TGsiiService"
          serializeAs="String">
        <value>http://localhost/TGSiiWebService/TGSiiWebService.asmx</value>
      </setting>
    </SIIEnvioAutomatico.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <!-- Códigos de compañías fiscales seleccionadas separadas por coma. Valor vacío significa procesar todas las compañías-->
    <add key="compania" value="SP" />

    <!-- Códigos de libros seleccionados separados por coma. Valor vacío significa procesar todos los libros-->
    <!-- 01 - Facturas Expedidas -->
    <!-- 03 - Facturas Recibidas -->
    <!-- 05 - Bienes de inversión -->
    <!-- 07 - Cobros en Metálico -->
    <!-- 09 - Determinadas Operaciones Intracomunitarias -->
    <!-- 13 - Pagos Recibidas RECC -->
    <!-- 15 - Operaciones de Seguros -->
    <!-- 17 - Agencias de Viajes -->
    <!-- add key="libro" value="01,03,09,13" /-->
    <add key="libro" value="01" />

    <!-- Códigos de operaciones seleccionadas separadas por coma. Valor vacío significa procesar todas las operaciones-->
    <!-- A0 - Alta -->
    <!-- A1 - Modificación -->
    <!-- A4 - Modificación Regimen Viajeros -->
    <!-- A5 - Alta devoluciones IVA de Viajeros (Sólo disponible para el Libro Facturas Emitidas) -->
    <!-- A6 - Modificación devoluciones IVA de Viajeros (Sólo disponible para el Libro Facturas Emitidas) -->
    <!-- B - Anulación -->
    <!--add key="operacion" value="A0,A1,B" /-->
    <add key="operacion" value="A1" />

    <!-- Ejercicios seleccionados (2 últimos dígitos del ejercicio) separados por coma. Valor vacío significa procesar todos los ejercicios-->
    <!--add key="ejercicio" value="17" /-->
    <add key="ejercicio" value="18" />

    <!-- Periodo seleccionado separados por comas. Valor vacío significa procesar todos los periodos-->
    <add key="periodo" value="05,04" />

    <!-- 1 - Activar Fichero Log / 0 - Desactivar Fichero Log -->
    <add key="logActivo" value="1" />

    <!-- Path Fichero Log-->
    <add key="logPath" value="" />

    <!-- 1 - Activar Fichero Resultado / 0 - Desactivar Fichero resultado-->
    <add key="resultActivo" value="1" />

    <!-- Path Fichero Envios Respuesta-->
    <add key="resultPath" value="envios" />

    <!-- TimeOut WS. Valor en milisegundos, 0 se trata como infinito -->
    <add key="SIITimeOutWS" value="0" />

    <!-- Envio mail -->
    <add key="mailActivo" value="1" />
    <add key="mailActivoSoloAlerta" value="0" />
    <!--add key="smtpHost" value="smtp.office365.com" /-->
    <add key="smtpHost" value="smtp.office365.com" />   
    <add key="smtpPort" value="587" />
    <!--add key="smtpUser" value="annia.alvarez@aggity.com" /-->
    <!--add key="smtpUser" value="annia.alvarez@aggity599.onmicrosoft.com" /-->
    <add key="smtpUser" value="alvaran1@aggity.com" />
    <add key="smtpPwd" value="jorgeAnnia1" />
    <!-- Cifrado true -> si es SSL, sino blanco -->
    <add key="smtpEnableSsl" value="true" />
    <add key="mailFrom" value="alvaran1@aggity.com" />
    <!-- Direcciones de correo electrónico donde enviar el resumen del envio separadas por ; en caso de existir más de una dirección -->
    <!-- add key="mailTo" value="annia.alvarez@aggity.com;joseluis.garcia@aggity.com" /-->
    <add key="mailTo" value="alvaran1@aggity.com" />
    <add key="mailSubject" value="Resultado Suministro SII" />
    <add key="mailBody" value="En el proceso de suministro automático de facturas al SII se han realizado los envíos de cada uno de los libros de facturas siguientes:" />

    <!-- Si hay error (excepción), parametrizar si hay más intentos -->
    <!-- Número de intentos, si se producen errores -->
    <add key="numeroIntentosSiError" value="5" />
    <!-- Tiempo de espera entre envíos, si se producen errores -->
    <add key="tiempoEsperaSiError" value="900000" />
  </appSettings>
</configuration>